@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-stormy-teal-50: #eafafa;
  --color-stormy-teal-100: #d5f5f6;
  --color-stormy-teal-200: #abeced;
  --color-stormy-teal-300: #82e2e3;
  --color-stormy-teal-400: #58d8da;
  --color-stormy-teal-500: #2eced1;
  --color-stormy-teal-600: #25a5a7;
  --color-stormy-teal-700: #1c7c7d;
  --color-stormy-teal-800: #125354;
  --color-stormy-teal-900: #09292a;
  --color-stormy-teal-950: #061d1d;

  --color-deep-crimson-50: #fbeaea;
  --color-deep-crimson-100: #f6d5d5;
  --color-deep-crimson-200: #eeaaaa;
  --color-deep-crimson-300: #e58080;
  --color-deep-crimson-400: #dc5656;
  --color-deep-crimson-500: #d42b2b;
  --color-deep-crimson-600: #a92323;
  --color-deep-crimson-700: #7f1a1a;
  --color-deep-crimson-800: #551111;
  --color-deep-crimson-900: #2a0909;
  --color-deep-crimson-950: #1e0606;

  --color-champagne-mist-50: #faf3ea;
  --color-champagne-mist-100: #f6e7d5;
  --color-champagne-mist-200: #eccfac;
  --color-champagne-mist-300: #e3b782;
  --color-champagne-mist-400: #d99f59;
  --color-champagne-mist-500: #d0882f;
  --color-champagne-mist-600: #a66c26;
  --color-champagne-mist-700: #7d511c;
  --color-champagne-mist-800: #533613;
  --color-champagne-mist-900: #2a1b09;
  --color-champagne-mist-950: #1d1307;

  --color-dark-wine-50: #fbeaea;
  --color-dark-wine-100: #f6d5d5;
  --color-dark-wine-200: #eeabaa;
  --color-dark-wine-300: #e58280;
  --color-dark-wine-400: #dc5856;
  --color-dark-wine-500: #d42e2b;
  --color-dark-wine-600: #a92523;
  --color-dark-wine-700: #7f1c1a;
  --color-dark-wine-800: #551211;
  --color-dark-wine-900: #2a0909;
  --color-dark-wine-950: #1e0606;

  --color-coffee-bean-50: #f6f0ee;
  --color-coffee-bean-100: #ede0de;
  --color-coffee-bean-200: #dcc2bc;
  --color-coffee-bean-300: #caa39b;
  --color-coffee-bean-400: #b98579;
  --color-coffee-bean-500: #a76658;
  --color-coffee-bean-600: #865246;
  --color-coffee-bean-700: #643d35;
  --color-coffee-bean-800: #432923;
  --color-coffee-bean-900: #211412;
  --color-coffee-bean-950: #170e0c;

  /* --font-heading: var(--font-sans); */
  --font-heading:
    var(--font-custom-restaurant), sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(
    --sidebar-accent-foreground
  );

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(
    --sidebar-primary-foreground
  );

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(
    --sidebar-foreground
  );

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(
    --accent-foreground
  );

  --color-accent: var(--accent);

  --color-muted-foreground: var(
    --muted-foreground
  );

  --color-muted: var(--muted);

  --color-secondary-foreground: var(
    --secondary-foreground
  );

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(
    --primary-foreground
  );

  --color-primary: var(--primary);

  --color-popover-foreground: var(
    --popover-foreground
  );

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
